.navbar ul{
    flex-wrap: wrap;
    justify-content: center;
}

.gallery {
    align-items: center;
}

.gallery img {
    width: 300px;
    height: 150px;
    margin-top: 10px;
}

.gallery p {
    width: 300px;
}